
.c32 {
	color: #18b218;
}

.c1 {
	font-weight: bold;
}

.c35 {
	color: #ff54ff;
}

.c30 {
	color: #686868;
}

.c31 {
	color: #ff5454;
}

.w {
	background-color: #fbe;
}

.w0 {
	background-color: #afa;
}

.w1, .w2, .w3, .w4, .w5 {
	background-color: #ffa;
}

.e {
	background-color: #faa;
}

.e0 {
	background-color: #afa;
}
