
body {
	background: #fafafa;
	margin: 0;
	padding: 10px;
	font-family: "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Arial, sans-serif;
	font-size: small;
	font-size-adjust: 0.54;
	color: #333;
}

a {
	color: #57f;
	text-shadow: #aaa 0px 0px 0.5px;
	text-decoration: none;
	outline: none;
	-moz-outline: none;
}

td.e > a, td.w > a {
	color: #333;
	text-shadow: none;
}

a:hover {
	color: #34f;
	text-decoration: underline;
}

table {
	background: #fafafc;
	min-height: 64px;
	margin: 7px;
	margin-left: 12px;
	padding: 0px;
	box-shadow: 1px 1px 2px 2px #eaeaff;
	border-collapse: collapse;
}

th {
	text-align: center;
	background: #f0f0f5;
}
tr:nth-child(odd)  { background: #fdfdfd; }
tr:nth-child(even) { background: #f8f8f8; }
tr:nth-child(odd).selected  { background: #ededff; }
tr:nth-child(even).selected { background: #e8e8fa; }

th, td {
	border: 1px solid #d4d4ff;
	padding: 2px 5px;
}

.c1  { font-weight: bold; } /* bold */
.c30 { color: #686868; } /* black */
.c31 { color: #ff5454; } /* red */
.c32 { color: #18b218; } /* green */
.c33 { color: #dddd43; } /* yellow */
.c34 { color: #5454ff; } /* blue */
.c35 { color: #dd43dd; } /* purple */
.c36 { color: #43dddd; } /* cyan */
.c37 { color: #eeeeee; } /* white */

.w  { background-color: #fbe; }
.w5 { background-color: #fcd; }
.w4 { background-color: #fdc; }
.w3 { background-color: #feb; }
.w2 { background-color: #ffa; }
.w1 { background-color: #efa; }
.w0 { background-color: #afa; }

.e  { background-color: #faa; }
.e0 { background-color: #afa; }

pre, .stats {
	font-family: "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Sans Mono", monospace;
	font-size: 10pt;
}

pre {
	font-size: 9pt;
}

.stats .n a { color: #24c; }
.stats .n a:hover { color: #34f; }

.stats .tm { border-right: none; }
.stats .ts { border-left: none; }

.good { color: #008000; text-align: center; }
.okay { color: #6b8e23; text-align: center; }
.poor { color: #cc8c00; text-align: center; }
.bad  { color: #bb0000; text-align: center; }


.stats .disabled  { color: #888; }
.stats .disabled a { color: #9af; }
.stats .disabled .n a { color: #9af; }
.stats .disabled td:first-child { background: #fee; }

.stats .disabled .w  { background-color: #fcf; }
.stats .disabled .w5 { background-color: #fde; }
.stats .disabled .w4 { background-color: #fed; }
.stats .disabled .w3 { background-color: #ffc; }
.stats .disabled .w2 { background-color: #ffb; }
.stats .disabled .w1 { background-color: #ffb; }
.stats .disabled .w0 { background-color: #bfb; }

.stats .disabled .e  { background-color: #fbb; }
.stats .disabled .e0 { background-color: #bfb; }

.stats .disabled .good { color: #66b366; }
.stats .disabled .okay { color: #a6bb7b; }
.stats .disabled .poor { color: #e0ba66; }
.stats .disabled .bad  { color: #d66666; }

.grouped { float: right; }
